/*
Colors
  Primary: Black #000000 and White #FFFFFF
  Secondary: Magenta #AA006F
  Tertiary-Hover: Magenta #7C0051
*/
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #AA006F;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #AA006F;
}
a:hover,
a:focus {
  color: #AA006F;
  font-weight: 400;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #AA006F;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #AA006F;
  color: #FFFFFF; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}
.button:hover,
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button-secondary {
  display: inline-block;
  background-color: #FFFFFF;
  color: #AA006F;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #000000;
  transition: 0.2s opacity;
  border-color: #AA006F;
}
.button-secondary:hover,
.button-secondary:active {
  background-color: #aa006f;
  color: #FFFFFF;
  opacity: 0.8;
}
