/*
Colors
  Primary: Black #000000 and White #FFFFFF
  Secondary: Magenta #AA006F
  Tertiary-Hover: Magenta #7C0051
  Light Grey: #DEDEDE
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}

/*buttons & links*/
a {
  color: #AA006F;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #AA006F;
}
a:hover {
  color: #AA006F;
  font-weight: 400;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:focus {
  color: #AA006F;
  font-weight: 400;
}
a:active { /* selected link */
  color: #AA006F;
}
a.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #AA006F;
  color: #FFFFFF; /* needed to override the default link color */
  text-align: center;
  font-weight: 400;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  transition: 0.2s opacity;
}
a.button:hover,
a.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
a.button-secondary {
  display: inline-block;
  background-color: #FFFFFF;
  color: #AA006F;
  font-weight: 400;
  padding: 10px;
  margin-top: 20px;
  border-radius: 3px;
  border: 2px solid #000000;
  transition: 0.2s opacity;
  border-color: #AA006F;
}
a.button-secondary:hover,
a.button-secondary:active {
  background-color: #aa006f;
  color: #FFFFFF;
  opacity: 0.8;
}
.right-link {
  overflow: hidden;
}
.right-link a {
  color: #AA006F;
  font-weight: 500;
  float: right;
  padding: 20px 0;
}
#dance-page-link {
  clear: both;
}
#project-page-link {
  clear: both;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  -webkit-box-shadow: 0px 8px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 8px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 8px 5px 0px rgba(50, 50, 50, 0.75);
  width: 100%;
}
main {
  padding-top: 100px;
  margin: 0;
}

a.logo {
  max-width: 250px;
  text-transform: uppercase;
  font-weight: 500;
  color: #FFFFFF;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}
nav > ul > li {display: inline-block;}
nav > ul > li > a {
  padding: 0 15px;
  font-weight: 300;
  color: #FFFFFF;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  font-weight: 300;
  color: #FFFFFF;
}
nav > ul > li > a:hover {
  padding: 0 15px;
  text-decoration: underline;
  font-weight: 300;
  color: #FFFFFF;
}
nav > ul > li > a:focus {
  padding: 0 15px;
  text-decoration: underline;
  font-weight: 300;
  color: #white;
}
nav > ul > li > a:active {
  padding: 0 15px;
  text-decoration: underline;
  font-weight: 300;
  color: #FFFFFF;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#design .row { padding-bottom: 60px; border-bottom: 1px solid #4a4a4a; }
#dance .row { padding-bottom: 60px; border-bottom: 1px solid #4a4a4a; }

.hero h1 {text-align: center;}
.hero {
  background-color: #DEDEDE;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.hero span {
  color: #AA006F;
}

.project-card h4 {
  margin: 0;
  padding-bottom: 10px;
}

.project-card a{
  color: #000000;
}
.project-card {
  display: inline-block;
  border-radius: 3px;
  border: 2px solid #000000;
  border-color: #000000;
  padding: 20px 20px;
  margin-top: 20px;
}

footer {
  padding: 10px;
  background-color: #DEDEDE;
}

footer h4{
  margin-top: 0;
}

.social a{
  display: inline-block;
  margin: 0 5px;
}
.social svg{
  width: 50px;
  height: auto;
}

/*Photo Grids*/
.gallery-2col {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.gallery-2col img {
  display: block;
}
.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 3 / 1 / 5 / 2; }
.div3 { grid-area: 1 / 2 / 2 / 3; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 2 / 4 / 3; }
.div6 { grid-area: 4 / 2 / 5 / 3; }

/*About Page*/
#work {
  display: inline-block;
}
#work h4 {
  font-weight: 500;
  padding-bottom: 5px;
  margin: 0;
}
#work p {
  margin: 0;
  padding-bottom: 20px;
}
#education {
  display: inline-block;
}
#education h4 {
  font-weight: 500;
  padding-bottom: 5px;
  margin: 0;
}
#education p {
  margin: 0;
  padding-bottom: 20px;
}
#about { padding-bottom: 60px; border-bottom: 1px solid #4a4a4a; }

#right-arrow svg{
  width: 50px;
  height: auto;
  display: inline-block;
  justify-content: center;
}

/*Kelle Project*/
#kelle-nav {
  display: none;
}
blockquote {
  font-style: italic;
  padding: 10px 0;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  margin-top: 40px;
  margin-bottom: 40px;
}
.project-social a{
  display: inline-block;
  margin: 0 5px;
  color: black;
}
.project-social svg{
  width: 50px;
  height: auto;
  float: left;
}

.project-social span{
  display:inline-block;
  float: left;
}

.project-insta span{
  margin-top: 10px;
  padding-left: 10px;
}

.project-web span{
  margin-top: 10px;
  padding-left: 10px;
}
#kelle-catalog-link {
  display: inline-inline-block;
  float: right;
}

/*Media Queries*/
[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (min-width: 640px) {
  header {
   text-align: unset;
   }
   nav {
     width: auto;
     float: right;
     margin-top: 4px;
   }
   .logo {
     margin: 18px 0;
     display: inline;
     float: left;
     height: auto;
   }
   main {
     padding-top: 99px 0;
   }
   body {
     font-size: 18px;
   }
   .col-md-6 {
     width: 50%;
   }
   .col-md-7 {
     width: 58.33%;
   }
   .col-md-4 {
     width: 33.33%;
   }
   .col-md-3 {
     width: 25%;
   }

}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1440px) {}
